<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <nav class="nav p-3 d-flex flex-row">
                <div class="col">
                    <a href="#" type="button" class="btn btn-outline-primary me-1">Adicionar</a>
                    <a href="#" type="button" class="btn btn-outline-danger me-1">Remover</a>
                </div>
                <div class="col-4">
                    <!-- Navbar -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <!-- Conteúdo da Sessão -->
    <div class="container">
        <div class="row m-1">
            <div class="col bg-warning">
                Estoque
            </div>
        </div>
    </div>
</body>
</html>